#dropdownMenuButton {
    background-color: white;
    color: black;
    border-color : #ced4da;
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 400%;
    overflow-x: hidden;
}