#dropdownMenuButton {
    background-color: white;
    color: black;
    border-color : #ced4da;
    width: 100%;
}

#dropdownMenuButtonText {
    width: 92%;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu-item{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollable-menu {
    height: auto;
    max-height: 11em;
    overflow-x: hidden;
}