.main-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.main-table > tbody > tr > td {
    border: 1px solid black;
}

.main-table > tbody > tr > td:last-child {
    border: none;
}

.main-table > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}
 
.main-table > tbody > tr:last-child > td:nth-last-child(2) {
    border-bottom-right-radius: 10px;    
}