.object-info-container {
  margin: 1em 0;
}

.object-info-container > div > div {
  width: 30%;
}

.input-group-prepend > span {
  display: block;
  text-align: center;
  color: white;
  background-color: black;
  border-color: black
}

.input-label {
  width: 100%;
}

.object-input{
  border : 1px solid black;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.object-info-container > div {
  margin: 0.5em 0;
  width: 50%;
}

.object-info-container > div > input {
  width: 70%;
}
