.table thead tr th {
    border: 1px solid black;
    background-color: black;
    border-bottom: 0;
}

.table thead th{
    text-align: center;
    vertical-align: middle;
}

.table thead {    
    color:white;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
 
table tr td:last-child {
    border: none;
}

.addbtn {
    margin-bottom: 20px;
}