.main-table > thead > tr > th {
    border: 1px solid black;
    background-color: black;
    border-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.main-table > thead {
    color:white;
}

.main-table > thead > tr:first-child > th:first-child {
    border-top-left-radius: 10px;
}

.main-table > thead > tr:first-child > th:last-child {
    border-top-right-radius: 10px;
}

.addbtn {
    margin-bottom: 20px;
}
